@import url("https://fonts.googleapis.com/css2?family=Lilita+One&family=Prompt:wght@400;600;700;800&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
.card {
  background: #d1cfc0;
  width: 200px;
  margin: auto;
  /* height: 20px; */
  /* aspect-ratio: 4 / 3; */
  position: relative;
  transition: background 0.1s;
}

.card:hover {
  --active: 1;
}

.card::after {
  content: "";
  position: absolute;
  inset: 0;
  background: radial-gradient(
    circle at calc(var(--x) * 0.5px) calc(var(--y) * 0.5px),
    hsla(0, 18%, 83%, 0.769),
    transparent 15vmin
  );
  background-attachment: fixed;
  opacity: var(--active, 0);
  transition: opacity 0.2s;
  pointer-events: none;
}

.card::before {
  content: "";
  position: absolute;
  inset: 0;
  background: radial-gradient(
      circle at calc(var(--x) * 1px) calc(var(--y) * 1px),
      hsl(180, 1%, 60%),
      transparent 15vmin
    ),
    transparent;
  background-attachment: fixed;
  pointer-events: none;
}
html {
  scroll-behavior: smooth;
}
